body {
    
}

.header {
    width: 600px;
    display: block;
    margin:0 auto;
 
}
.header > div {
    margin-top:30px;
    line-height: 1.5;
    padding:17px 34px 17px 16px;
}
.style1 {
    border:1px solid rgb(204,204,204);   
    border-radius: 4px; 
    
}
.style2 {
    border-left: 6px solid rgb(244 67 54);
    border-right: 6px solid rgb(244 67 54);
    background-color:rgb(255 231 231);
}
.style3 {
    border-top:6px solid rgb(255,235,59);
    border-bottom:7px solid rgb(255,235,59);
    background-color: rgb(255,255,215);
}
.style4 {
    border-top:1px solid rgb(76 175 80);
    border-left:1px solid rgb(76 175 80);
    border-right:1px solid rgb(76 175 80);
    border-bottom:7px solid rgb(76 175 80);
    background-color:rgb(231 255 231);
}