body {
   margin:0px 0px; 
}

.header {
    width: 600px;
    display: block;
    margin:0 auto;
}
.header > div {
    margin-top:30px;
    line-height: 1.5;
    padding:17px 34px 17px 16px;
}
.style1 {
    border:1px solid rgb(204,204,204);   
    border-radius: 4px; 
}
.style2 {
    border-left: 6px solid rgb(244 67 54);
    border-right: 6px solid rgb(244 67 54);
    background-color:rgb(255 231 231);
}
.style3 {
    border-top:6px solid rgb(255,235,59);
    border-bottom:7px solid rgb(255,235,59);
    background-color: rgb(255,255,215);
}
.style4 {
    border-top:1px solid rgb(76 175 80);
    border-left:1px solid rgb(76 175 80);
    border-right:1px solid rgb(76 175 80);
    border-bottom:7px solid rgb(76 175 80);
    background-color:rgb(231 255 231);
}
.yangshi {
    text-align: center;
    display: block;
    margin-left:calc(10% - 460px);
    line-height: 1;
}
.yangshi > a {
    padding:10px;
    border-radius: 3px;
    margin:6px 1px;
    display: inline-block;
    text-decoration: none;
}
.yangshi>a:hover {
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.steal {
    color:white;
    background-color:rgb(0 150 136);

}
.yellow {
    background-color:rgb(255 235 59);
    color:black;
}
.orange {
    background-color:rgb(255 152 0);
    color:black;
}
.red {
    background-color:rgb(244 67 54);
    color:white;
}
.green {
    background-color:rgb(76 175 80);
    color:white;
}
.wrapper {
    width:600px;
    margin:50px auto;
    display: table;
    font-family: arial;  
}
.table-1,.table-2{ 
    width:100%;  
    display: table;
    border-collapse: collapse;
    margin-bottom:30px;
}
.table-1 tr {
    height: 36px;
    text-align: left;
    border:1px solid rgb(221,221,221);
}
.table-1 .first-row {
    background-color: rgb(76,175,80);
    color:white; 
}
.table-1 .second-row,.fourth-row,.sixth-row {
    background-color:  rgb(241,241,241);
}
.table-1 .third-row,.fifth-row {
    background-color:  rgb(255,255,255);
}
.table-2 tr {
    height: 36px;
    text-align: left;
}
.table-2 .second-row,.fourth-row,.sixth-row {
    background-color:  rgb(241,241,241);
}
.table-2 .third-row,.fifth-row {
    background-color:  rgb(255,255,255);
}
